extends ../../layouts/default.pug 

block main 
    h1 ダッシュボード

    .row.mt-4 
        .col-12
            .card.mb-4 
                .card-header アカウント情報
                .card-body 
                    if(user.avatar)
                        img(
                            src=user.avatar 
                            style="height: 100px; margin-bottom: 15px;"
                        )
                    if(user.fullName) 
                        p 氏名: <b>#{user.fullName}</b>
                    if(user.email) 
                        p メールアドレス: <b>#{user.email}</b>
                    if(user.phone) 
                        p 電話番号: <b>#{user.phone}</b>
                    if(role.title) 
                        p 権限: <b>#{role.title}</b>


        .col-6 
            .card.mb-4 
                .card-header 商品カテゴリ
                .card-body 
                    p 総数: <b>#{statistic.categoryProduct.total}</b>
                    p 有効: <b>#{statistic.categoryProduct.active}</b>
                    p 無効: <b>#{statistic.categoryProduct.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header 商品
                .card-body 
                    p 総数: <b>#{statistic.product.total}</b>
                    p 有効: <b>#{statistic.product.active}</b>
                    p 無効: <b>#{statistic.product.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header 管理者アカウント
                .card-body 
                    p 総数: <b>#{statistic.account.total}</b>
                    p 有効: <b>#{statistic.account.active}</b>
                    p 無効: <b>#{statistic.account.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header クライアントアカウント
                .card-body 
                    p 総数: <b>#{statistic.user.total}</b>
                    p 有効: <b>#{statistic.user.active}</b>
                    p 無効: <b>#{statistic.user.inactive}</b>
