extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main 
    if (role.permissions.includes("roles_view"))
        +alert-success(5000)

        h1(class="mb-4") Role Groups

        .card.mb-3 
            .card-header List 
            .card-body 
                .row.mb-3
                    .col-8 
                    .col-4
                        if (role.permissions.includes("roles_create"))
                            a(
                                href=`${prefixAdmin}/roles/create`
                                class="btn btn-outline-success"
                            ) + Add New
                table.table.table-hover.table-sm.table-bordered.align-middle
                    thead 
                        tr 
                            th No.
                            th Role Group
                            th Short Description
                            th Actions

                    tbody 
                        if(records.length > 0)
                            each item, index in records
                                tr 
                                    td #{index + 1}
                                    td #{item.title} 
                                    td #{item.description}
                                    td
                                        a(
                                            class="btn btn-secondary btn-sm mr-1"
                                            href=`${prefixAdmin}/roles/detail/${item.id}`
                                        ) Details
                                        if (role.permissions.includes("roles_edit"))
                                            a(
                                                class="btn btn-warning btn-sm"
                                                href=`${prefixAdmin}/roles/edit/${item.id}`
                                            ) Edit
                                        if (role.permissions.includes("roles_delete"))
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                            ) Delete
                        else 
                            tr 
                                td(colspan="4" class="text-center") No role groups have been created.
